body{
    background-image: url("BG.jpg");
    background-position: center;
    background-size: cover;
}

h1{
    color: goldenrod;
    margin: auto;
    margin-top: 50px;
}

#image_input{
    background-color: lightgray;
    margin: auto;
    margin-top: 15px;
}

canvas{
    background-color: lightgray;
    margin: auto;
    margin-top: 15px;
}

table{
    margin: auto;
    margin-top: 15px;
}

td{
    text-align: center;
}

textarea{
    margin: auto;
    margin-top: 15px;
}

.btn{
    font-family: monospace;
    font-size: 16px;
}

#reset{
    background-color: orange;
    border: 2px solid orange
}

